<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CardCollection.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4B69D9CF1F586573005D7096</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B69D9E61F586573005D7096</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B69D9F11F586573005D7096</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
